{% load static %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Главная | Храм Всех Святых в Земле &lt;br&gt;Российской Просиявших</title>
    <link href="{% static '/main/css/index.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="header">
        <img id="top" class="banner-image" src="{%static '/main/images/headers/header-placeholder.gif' %}" alt="Banner">
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Главная
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'index_ru' %}">Главная</a></li>
                    <li><a class="dropdown-item" href="{% url 'schedule_of_services_ru' %}">Расписание Богослужений</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Наш Приход
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'our_parish' %}">Наш Приход</a></li>
                    <li><a class="dropdown-item" href="{% url 'photo_gallery' %}">Фото Галерея</a></li>
                    <li><a class="dropdown-item" href="{% url 'video_gallery' %}">Видео Архив</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    О Православной Вере
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'about_orthodox_faith' %}">О Православной Вере</a></li>
                    <li><a class="dropdown-item" href="{% url 'orthodox_calendar' %}">Православный Календарь</a></li>
                    <li><a class="dropdown-item" href="{% url 'prayers' %}">Молитвы</a></li>
                    <li><a class="dropdown-item" href="{% url 'recommended_links' %}">Православный Интернет</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Для Посетителей
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'visitor_information' %}">Для Посетителей</a></li>
                    <li><a class="dropdown-item" href="{% url 'map_directions' %}">Как нас найти / доехать</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Публикации
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'publications' %}">Публикации</a></li>
                    <li><a class="dropdown-item" href="{% url 'orthodox_way' %}">Православный Путь</a></li>
                    <li><a class="dropdown-item" href="{% url 'prayer_book' %}">Молитвослов</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Пожертвования</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Контактная Информация</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
    {% block content %}
    {% endblock %}
<div class="footer">
        &copy; 2021 Приход Всех Святых в Земле Российской Просиявших <br />
        <a href="http://www.wadiocese.com/">Западно-Американской</a> Епархии <a href="http://www.synod.com/">РПЦЗ</a>
        в Денвере, Колорадо, США.
        <br />
        При полном или частичном использовании материалов ссылка <br>
        на <a href="http://rocadenver.org">www.rocadenver.org</a> обязательна.<br />
        3274 E Iliff Ave Denver, Colorado 80210; Телефон: 303-757-3533<br />
    </div>

    {#JQuery and Bootstrap Libraries Do Not Remove#}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>