{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home | All Saints of Russia Orthodox Church</title>
    <link href="{% static '/main/css/index.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="page-content">
        <div class="sidebar">
            <div class="sidebar-content">
                <h6 class="sidebar-title">Schedule of Services</h6>
                {% for item in schedule_of_services %}
                {% if item.type_id == 1 %}
                <div class="link-container">
                    <a class="calendar-link" href="{% static '/main/documents/'%}{{ item.link }}">{{ item.title }}</a>
                    <br>
                </div>
                {% else %}
                <div class="link-container">
                    <a class="announcement-link" href="{% static '/main/documents/'%}{{ item.link }}">{{item.title}}</a> <br>
                </div>
                {% endif %}
                {% endfor %}
                <h6 class="weekly-schedule">Weekly Schedule:</h6>
                {% for item in weekly_schedule %}
                <p class="weekday-title">{{ item.day }}</p>
                <p class="weekday-schedule">{{ item.time }} {{ item.service }}</p>
                {% endfor %}
                {% for item in additional_announcements %}
                {% if item.type_id == 1 %}
                <p class="sidebar-warning">{{ item.body }}</p>
                {% else %}
                <p class="sidebar-message">{{ item.body }}</p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="language-selector">
                <a href="{% url 'index' %}"><img src="{% static '/main/images/icons/en.png' %}" alt="English">English</a><br>
                <a href="{% url 'index_ru' %}"><img src="{% static '/main/images/icons/ru.png' %}" alt="Русский">Русский</a>
            </div>
            <div class="donate-container">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit"
                    alt="PayPal - The safer, easier way to pay online!">
            </div>
        </div>

        <div class="content-container">
            {% for item in announcements %}
            {% if current_day >= item.start_date and current_day <= item.end_date or item.date_override_id == 1 %}
                <div class="content">
                {% if item.image_link != '' %}
                <div class="image-container">
                    <img class="announcement-image" src="{% static 'main/images/content-images/'%}{{ item.image_link }}" alt="">
                </div>
                {% endif %}
                {% if item.title != '' %}
                <div class="title">{{ item.title|safe }}</div>
                <br>
                {% endif %}
                {% if item.body != '' %}
                <div class="body">{{ item.body|safe }}</div>
                <br>
                {% endif %}
                {% if item.link != '' %}
                <div class="link">{{ item.link|safe }}</div>
                <br>
                {% endif %}
                {% if item.author != '' %}
                <div class="author">{{ item.author }}</div>
                {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>
</body>
</html>
{% endblock %}
