@charset "utf-8";
/* CSS Document */

.myfieldclass{

}
.career_title{
    text-align: center;
}

.career_column {
    float: left;
    max-width: 750px;
    padding: 5px;
    height: auto;
}
.career_row:after {
  content: "";
  display: table;
  clear: both;
}
.career_row{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 50px 20px 50px;
}

.career_text1{
    text-align: center;
    margin: auto;
    padding: 50px;
    max-width: 1600px;
}

.position_text1{
    text-align: center;
    margin: auto;
    padding: 50px;
    max-width: 1600px;
}

.position_text2{
    text-align: center;
    margin: auto;
    padding: 50px;
    max-width: 1600px;
}

.position_text3{
    text-align: center;
    margin: auto;
    padding: 50px;
    max-width: 1600px;
}

.apply_text{
    text-align: center;
    margin: auto;
    padding: 50px;
    max-width: 1600px;
}

.footer{
    position: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: black;
}

